@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is used for online technichal test.</p>
<p>Once you begin the test have to go through all the questions and at last ypu will get the resul</p>
