@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bangalore<br />
    <abbr title="Phone">P:</abbr>
    9741541061
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hasan.emamul@gmail.com">Support@example.com</a><br />
</address>